html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html {
  font-size: 125%;
}

a {
  text-decoration: none;
}

footer p{
  padding: 0;
  margin: 0;
  text-align: center;
  background: #65FAA2;
}

.main {
  background-image: linear-gradient(violet, pink);
  min-height: 100vh;
}

.wrapper {
  max-width: 1250px;
  width: 90%; 
  margin: 0 auto;
}

h1 {
  font-size: 8rem;
  font-family: 'Racing Sans One', cursive;
  letter-spacing: 3px;
  color: rgba(255, 0, 255, 0.842);
  text-shadow: 6px 6px 5px yellow;
  text-align: center;
  margin: auto;
}

h2 {
  font-size: 1.7rem;
  font-family: 'Bebas Neue', serif;
  margin: 0;
  letter-spacing: 3px;
  color: black;
  text-align: center;
  padding-top: 50px;
}

h2 span {
  /* color: #65FAA2; */
  color: magenta;
  border: dotted yellow 2px;
}

.flexTitle {
  display: flex;
  border-bottom: dotted 1rem yellow;
}

.ruContainer {
  width: 550px;
  height: 400px;
  margin: 0 auto;
}

.ruContainer img {
  width: 100%;
  height: 100%;
  border: none;
}

.imgContainer {
  width: 400px;
  height: 450px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  border: black solid 2px;
}

.queen {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.queen p{
  font-size: 2rem;
  font-family: 'Bebas Neue', serif;
  padding: 30px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: auto;
}

.queen p:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 5rem;
  line-height: 1;
  top: -30px;
  left: -30px;
  content: "\201C";
}

.queen p:after {
  font-family: Georgia, serif;
  position: absolute;
  float:right;
  font-size:5rem;
  line-height: 1;
  right:-30px;
  bottom:-60px;
  content: "\201D";
}

.queen h3 {
  color: magenta;
  text-shadow: 1px 1px black;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
}

.queen h4 {
  color: black;
  font-size: 1rem;
  text-shadow: none;
  margin: 0 auto;
}

.queenRight {
  width: 50%;
}

.queenRight h4 {
  border: none;
  color: black;
  font-size: 1rem;
  letter-spacing: 0.5;
  padding: 0;
  text-align: center;
  margin: 0 auto;
}

.queenRight h5 {
  font-family: 'Bebas Neue', serif;
  font-size: 1.5rem;
  color: yellow;
  text-shadow: 1px 1px black;
  text-align: center;
  width: 50%;
  height:fit-content;
  margin: auto 0;
}

.makeupResult {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: 30px auto;
  border: dotted black 2px;
  padding: 10px;
}

.makeupResult:hover {
  cursor: pointer;
  background: magenta;
}

.makeupImage {
  width: 35%;
  height: 35%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

h4 {
  font-size: 1.5rem;
  font-family: 'Bebas Neue', serif;
  margin: 0 auto;
  letter-spacing: 3px;
  color: yellow;
  border-bottom: black dotted 2px;
  text-shadow: 1px 1px black;
  text-align: center;
  padding-top: 50px;
  width: max-content;
}

form {
  display: flex;
  margin: auto;
}

button {
background-color:rgba(255, 0, 255, 0.842);
border: 0 solid #E5E7EB;
font-size: 1.5rem;
font-family: 'Bebas Neue';
cursor: pointer;
color: black;
padding: .75rem 1.65rem;
transform: rotate(-2deg);
margin: 50px 20px;
text-align: center;
}

.randomSearch button {
  margin: 70px 70px;
}

button::after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

button:hover:after {
  bottom: 2px;
  left: 2px;
}

.or h4 {
  font-size: 5rem;
  color: #65FAA2;
  border: none;
}

select {
  background-color:#65FAA2;
  color: black;
  font-family: 'Bebas Neue';
  border: dotted black 2px;
  height: 50px;
  margin: auto;
  cursor: pointer;
}

select:hover {
  background: yellow;
}


/* mediaqueries */


@media (max-width: 1350px) {
  .ruContainer {
    width: 300px;
    height: 200px;
  }

}

@media (max-width: 1100px) {
  .flexTitle {
    display:block;
  }

  h1 {
    font-size: 6rem;
  }

  .or h4 {
    font-size: 2rem;
    margin-top: 100px;
  }

  button {
    width: 150px;
    font-size: 1rem;
  }

  .randomSearch button {
    margin: 50px 120px;
  }

  .queenRight p {
    font-size: 1.5rem;
  }

  .queenRight p::before {
    font-size: 3rem;
    top: 0;
    left: 0;
  }

  .queenRight p::after {
    font-size: 3rem;
    bottom: 0;
    right: 0;
  }

  .imgContainer {
    height: 400px;
    width: 300px;
  }
}

@media (max-width: 1040px) {
  .flexContainer {
    display: block;
  }

  form {
    justify-content: center;
    flex-direction: column;
  }

  h4 {
    width: auto;
  }

  select {
    margin: 20px auto;
    margin-bottom: 20px;
    text-align: center;
  }

  button {
    margin: 0 auto;
    text-align: center;
  }

  .or h4 {
    padding: 0;
    margin-top: 40px;
  }

  .randomSearch h4 {
    padding-top: 20px;
  }

  .randomButton {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .queen {
    display: block;
    margin: 0 auto;
  }

  .imgContainer {
    margin: 0 auto;
  }

  .queenRight {
    margin: 0 auto;
    padding-bottom: 10px;
  }

}

@media (max-width: 680px) {
  h1 {
    font-size: 4rem;
  }


  .makeupImage {
    margin: auto;
    width: 50%; 
    height: 50%;
  }

  .makeupResult {
    flex-direction: column;
    align-items: center;
  }

  .makeupResult h5 {
    font-size: 1.2rem;
  }
}

@media (max-width: 560px) {


  .queenRight {
    margin-top: 50px;
  }

  .queenRight p::before {
    font-size: 2rem;
    top: -20px;
    left: -20px;
  }

  .queenRight p::after {
    font-size: 2rem;
    bottom: -20px;
    right: -20px;
  }
  

  .queenRight p {
    width:auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.2rem;
  }
}



@media (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 350px) {
  .imgContainer {
    width: 250px;
    height: 350px;
  }
}